---
layout: layouts/home.njk
---
<div class="solid-bg">
  
</div>

<div class="solid-bg items">
  <ul>
  {# use this to shuffle the item order on every build #}
  {% set shuffled = items | shuffle %}
  {%- for item in shuffled -%}

  {# use this if you're not shuffling #}
  {# items is the name of the folder in src/_data/ where your Decap collection items will go as individual json files #}
  {# {%- for key, item in items %} #}

    <li>
      {% if item["image"] %}
        {% image item["image"], "", "img-item" %}
        <div class="item-info">
      {% else %}
        <span class="spacer"></span>
        <div class="item-info no-image">
      {% endif %}
          <h3>
            {{ item["name"] }}
          </h3>
      
        {% if item["description"] %}
          <p>{{item["description"]}}</p>
        {% endif %}
        
      </div>
    </li>
  {%- endfor -%}
  </ul>
</div>
